body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
header {
  background: aquamarine;
}
.container {
  display: flex;
  min-height: 50vh; /* viewport-height / altura 50% */
}
nav, aside {
  flex: 1;
}
nav {
  background: pink;
}
aside {
  background: khaki;
}
main {
  background: lightskyblue;
  flex: 3;
}
footer {
  background: lightgray;
}
header, nav, aside, main, footer {
  padding: 25px;
  margin: 1px;
}
